body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/assets/images/auth-background.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.auth-container {
  background: #333;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
  border: 2px solid #4caf50;
}
input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}
button:hover {
  background: #45a049;
}
.toggle-text {
  margin-top: 15px;
  font-size: 0.9rem;
  cursor: pointer;
  color: #aaa;
}
.toggle-text span {
  color: #4caf50;
  font-weight: bold;
}

.hidden {
  display: none;
}
