body {
  font-family: Arial, sans-serif;
  background-image: url("../assets/images/snake-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}

.game-container {
  text-align: center;
  background: rgb(198, 255, 238);
  padding: 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.score-board {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.grid {
  width: 400px;
  height: 400px;
  background-image: url("/assets/images/snakeDirt.png");
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 5px solid #000000;
  margin: 0 auto 20px auto;
}

.grid div {
  width: 20px;
  height: 20px;
}

.snake-part {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center center;
}

.snake-head {
  background-image: url("/assets/images/head.png");
}

.snake-body {
  background-color: #a1c432;
  border-radius: 7px;
}

.food {
  background-color: transparent;
  background-image: url("/assets/images/apple.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: pulse 0.8s infinite alternate;
  z-index: 10;
}

.diamond {
  background-color: transparent;
  background-image: url("/assets/images/diamond.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: pulse 0.8s infinite alternate;
  z-index: 10;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #d82b2b;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

button:hover {
  background-color: #0056b3;
}

.message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  height: 20px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.2);
  }
}
